@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $config: mat.get-color-config($theme);
  $background-palette: map.get($config, 'background');

  .app-home {
    background: mat.get-color-from-palette($background-palette, 'background');
  }
}
