$icon-size: 40px;
$toolbar-padding: 16px;
$mobile-toolbar-padding: 8px;

.app-home {
  box-sizing: border-box;
  overflow: auto;

  .app-mobile & {
    padding: 0 1px 1px;
  }

  .app-home-toolbar {
    padding: $toolbar-padding;

    .app-mobile & {
      padding: $mobile-toolbar-padding;
    }
  }

  .app-queue {
    height: calc(100% - #{$icon-size + 2 * $toolbar-padding});

    .app-mobile & {
      height: calc(100% - #{$icon-size + 2 * $mobile-toolbar-padding});
    }
  }
}
