@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $config: mat.get-color-config($theme);
  $foreground-palette: map.get($config, 'foreground');
  $primary-palette: map.get($config, 'primary');

  .app-queue-timer {
    color: mat.get-color-from-palette($foreground-palette, 'hint-text');
  }

  .app-queue-alert-new-game {
    .mat-tab-group {
      border: 4px solid mat.get-color-from-palette($primary-palette);
    }
  }
}
