.app-queue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .app-queue-attention {
    animation: 0.4s jump ease infinite alternate;

    @keyframes jump {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-4px);
      }
    }
  }

  .mat-progress-bar {
    margin: 16px 0;
  }

  .mat-table {
    padding-top: 16px;
  }

  .mat-tab-group {
    max-height: 80vh;
    max-width: 60vw;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;

    .o-auto {
      .app-mobile & {
        overflow: visible;
      }
    }

    .app-huge & {
      max-width: 50vw;
    }

    .app-small & {
      max-width: 80vw;
    }

    .app-mobile & {
      padding: 0;
      max-height: 100%;
      max-width: 100%;
      overflow: visible;
    }

    .app-mobile & {
      max-height: unset;
    }
  }

  .app-queue-actions {
    padding: 0 16px;
  }

  .app-queue-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 32px 16px 16px;

    .mat-form-field,
    ng-component {
      width: 100%;
    }

    .mat-form-field-infix {
      width: auto;
    }
  }

  .mat-radio-button {
    display: block;
  }
}
