<mat-tab-group [selectedIndex]="selectedIndex$ | async"
               (selectedIndexChange)="_onSelectedIndexChange($event)">
  <mat-tab label="Lobbies">
    <div class="app-queue-form">
      <berg-outlet [component]="operators.query.difficulty"></berg-outlet>
      <berg-outlet [component]="operators.query.type"></berg-outlet>

      <berg-outlet [component]="operators.query.act$ | async"></berg-outlet>
      <berg-outlet [component]="operators.query.quest$ | async"></berg-outlet>
      <berg-outlet [component]="operators.query.runArea$ | async"></berg-outlet>

      <berg-outlet [component]="operators.query.maxPlayers"></berg-outlet>
    </div>

    <div class="app-queue-actions flex s-8">
      <berg-outlet [component]="operators.query.queueTrigger"></berg-outlet>
      <berg-outlet [component]="operators.query.stopTrigger"></berg-outlet>
      <berg-outlet [component]="operators.lobby.refreshTrigger"></berg-outlet>
    </div>

    <berg-outlet class="f-1 o-auto"
                 [component]="operators.lobby.lobbies">
    </berg-outlet>
  </mat-tab>

  <mat-tab *ngIf="rx.game.game$ | async"
           label="Game">
    <div class="app-queue-form">
      <berg-outlet [component]="operators.game.hostNick"></berg-outlet>
      <berg-outlet [component]="operators.game.gameName"></berg-outlet>
      <berg-outlet [component]="operators.game.password"></berg-outlet>
      <berg-outlet [component]="operators.game.type"></berg-outlet>
      <berg-outlet [component]="operators.game.difficulty"></berg-outlet>
      <berg-outlet [component]="operators.game.act$ | async"></berg-outlet>
      <berg-outlet [component]="operators.game.quest$ | async"></berg-outlet>
      <berg-outlet [component]="operators.game.runArea$ | async"></berg-outlet>
    </div>

    <berg-outlet class="f-1  o-auto"
                 [component]="operators.game.players">
    </berg-outlet>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon [class.app-queue-attention]="rx.user.hasErrors$ | async">settings</mat-icon>
    </ng-template>

    <div class="app-queue-form">
      <berg-outlet [component]="operators.user.nick"></berg-outlet>
      <berg-outlet [component]="operators.user.region"></berg-outlet>
      <berg-outlet [component]="operators.user.refreshMode"></berg-outlet>
      <berg-outlet [component]="operators.user.areas"></berg-outlet>
    </div>
  </mat-tab>
</mat-tab-group>
