<mat-tab-group [selectedIndex]="selectedIndex$ | async"
               (selectedIndexChange)="_onSelectedIndexChange($event)">
  <mat-tab label="Lobbies">
    <div class="app-queue-form">
      <berg-outlet [component]="operators.query.difficulty"></berg-outlet>
      <berg-outlet [component]="operators.query.type"></berg-outlet>

      <berg-outlet [component]="operators.query.act$ | async"></berg-outlet>
      <berg-outlet [component]="operators.query.quest$ | async"></berg-outlet>
      <berg-outlet [component]="operators.query.runArea$ | async"></berg-outlet>
      <berg-outlet [component]="operators.query.maxLevel$ | async"></berg-outlet>

      <berg-outlet [component]="operators.query.maxPlayers"></berg-outlet>
    </div>

    <div class="app-queue-actions flex a-end j-space-between hs-8">
      <div class="flex hs-8">
        <berg-outlet *ngIf="rx.query.queueing$ | async; else queueTrigger"
                     [component]="operators.query.cancelTrigger">
        </berg-outlet>

        <ng-template #queueTrigger>
          <berg-outlet [component]="operators.query.queueTrigger"></berg-outlet>
        </ng-template>

        <berg-outlet [component]="operators.lobby.refreshTrigger"></berg-outlet>
      </div>
    </div>

    <div class="flex a-center"
         [style.opacity]="(rx.query.queueing$ | async) ? 1 : 0">
      <mat-progress-bar mode="query"></mat-progress-bar>

      <div class="app-queue-timer"
           *ngIf="rx.query.queueTime$ | async as queueTime">
        {{queueTime.minutes}}:{{queueTime.seconds}}
      </div>
    </div>

    <berg-outlet class="f-1 o-auto"
                 [component]="operators.lobby.lobbies">
    </berg-outlet>
  </mat-tab>

  <mat-tab *ngIf="rx.game.game$ | async"
           label="Game">
    <div class="app-queue-form">
      <berg-outlet [component]="operators.game.gameName"></berg-outlet>
      <berg-outlet [component]="operators.game.password"></berg-outlet>
      <berg-outlet [component]="operators.game.time"></berg-outlet>
      <berg-outlet [component]="operators.game.type"></berg-outlet>
      <berg-outlet [component]="operators.game.difficulty"></berg-outlet>
      <berg-outlet [component]="operators.game.act$ | async"></berg-outlet>
      <berg-outlet [component]="operators.game.quest$ | async"></berg-outlet>
      <berg-outlet [component]="operators.game.runArea$ | async"></berg-outlet>
      <berg-outlet [component]="operators.game.maxLevel$ | async"></berg-outlet>
    </div>

    <berg-outlet class="f-1  o-auto"
                 [component]="operators.game.players">
    </berg-outlet>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon [class.app-queue-attention]="rx.user.hasErrors$ | async">settings</mat-icon>
    </ng-template>

    <div class="app-queue-form">
      <berg-outlet [component]="operators.user.nick"></berg-outlet>
      <berg-outlet [component]="operators.user.region"></berg-outlet>
      <berg-outlet [component]="operators.user.refreshMode"></berg-outlet>
      <berg-outlet [component]="operators.user.areas"></berg-outlet>
      <berg-outlet [component]="operators.user.hintsMode"></berg-outlet>
    </div>
  </mat-tab>
</mat-tab-group>
